<main class="flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
  <h2 class="text-center">CHAT</h2>
  <div class="card w-full">
    <span id="chats"></span>
      <fieldset>
        <label class="p-2" id="name"></label>
        <input type="text" name="text" id="text" placeholder="Type!" />
      </fieldset>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/chat.js"></script>