<main class="flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
  <h2 class="text-center">CHAT</h2>
  <div class="m-auto" style="width: 320px;">
    <div id="chats" class="bg-light d-flex flex-column my-2 rounded"></div>
    <fieldset class="bg-light d-flex my-2 rounded">
      <label class="p-2 fw-bold flex-grow-1 text-end" id="name"></label>
      <input class="p-2 w-75 rounded-end" type="text" name="text" id="text" placeholder="Type!" />
    </fieldset>
  </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/chat.js"></script>