<main class="flex-grow-1 p-3 my-2">
  <h2 class="text-center">ALL OUR MOVIES!</h2>
  <section
    id="sectionReal"
    class="d-flex flex-grow-1 flex-wrap justify-content-evenly"
  ></section>
</main>
<script
  src="https://cdn.socket.io/4.7.2/socket.io.min.js"
  integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
  crossorigin="anonymous"
></script>
<script src="/real.js"></script>