<main class="flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
  <h2 class="text-center">WELCOME TO CODER CINEMA!</h2>
  <div
    class="flex-grow-1 d-flex flex-wrap justify-content-evenly align-items-center"
  >
    {{#each events}}
      <div class="card m-2" style="width: 320px;">
        <img
          src="{{this.poster}}"
          style="height: 200px;"
          class="card-img-top object-fit-cover"
          alt="{{this.name}}"
        />
        <h5 class="card-title text-center m-1 p-1">{{this.name}}</h5>

      </div>
    {{/each}}
  </div>
</main>