<main class="flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
  <h2 class="text-center">NEW MOVIE!</h2>
  <form class="flex-grow-1 d-flex flex-column justify-content-center" style="width: 320px;">
    <fieldset class="mb-3 text-center">
      <label for="name" class="form-label mb-0">Title</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
    </fieldset>
    <fieldset class="mb-3 text-center">
      <label for="poster" class="form-label mb-0">Poster</label>
      <input type="text" class="form-control" id="poster">
    </fieldset>
    <fieldset class="mb-3 text-center">
      <label for="price" class="form-label mb-0">Price</label>
      <input type="number" class="form-control" id="price">
    </fieldset>
      <fieldset class="mb-3 text-center">
      <label for="capacity" class="form-label mb-0">Capacity</label>
      <input type="number" class="form-control" id="capacity">
    </fieldset>
      <fieldset class="mb-3 text-center">
      <label for="place" class="form-label mb-0">Place</label>
      <input type="text" class="form-control" id="place">
    </fieldset>
      <fieldset class="mb-4 text-center">
      <label for="date" class="form-label mb-0">Date</label>
      <input type="date" class="form-control" id="date">
    </fieldset>
    <button id="newEvent" type="button" class="w-100 btn btn-danger">CREATE!</button>
  </form>
</main>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
<script src="/new.js"></script>